<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond $1 !^(/robots\.txt|/favicon\.ico|crossdomain\.xml|apple-touch-icon.*\.png|400|300)
    
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>